In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv("covariance.csv")

In [18]:
df

            1           2         3         4         5         6
0  502.197738  496.802262 -3.617876  3.509620 -0.098987  0.134501
1  496.802262  502.197738  3.617876 -3.509620  0.098987 -0.134501
2   -3.617876    3.617876  5.987161 -4.765469 -0.223772 -0.044339
3    3.509620   -3.509620 -4.765469  5.666644 -0.065720 -0.151979
4   -0.098987    0.098987 -0.223772 -0.065720  1.137313  0.085392
5    0.134501   -0.134501 -0.044339 -0.151979  0.085392  1.136147

In [20]:
data = pd.read_csv("216168486-216442428-212298535â€”T5DataNorm.csv")
data = data.drop(["Unnamed: 0"], axis=1)
data

,Home Team Possession %,Away Team Possession %,Home Team Pass Success %,Away Team Pass Success %,Home Team On Target Shots,Away Team On Target Shots
0,1.079036,-1.079036,1.428269,0.311108,2.904244,0.024274
1,0.720671,-0.720671,0.318287,-0.367279,-1.072538,0.465614
2,-0.981561,0.981561,-1.624180,0.582463,-1.072538,1.789633
3,-1.877473,1.877473,-2.872910,0.853818,-0.277182,-0.858406
4,0.272716,-0.272716,-0.097956,-0.638634,0.915853,0.024274
...,...,...,...,...,...,...
995,0.003942,-0.003942,0.873278,0.853818,-1.072538,0.906953
996,0.720671,-0.720671,0.734530,0.039753,0.915853,-1.299746
997,0.183124,-0.183124,0.457035,0.039753,-1.072538,-0.858406
998,-0.444014,0.444014,-0.652947,-0.231601,0.120497,0.465614
999,0.989445,-0.989445,0.318287,-1.317021,-1.470217,0.024274

In [21]:
np_row = np.empty((0, 1000), int)
np_matrix = np.empty((0,1000), int)

for index, row in data.iterrows():
    for index2, row2 in data.iterrows():
        a1 = np.subtract(row.to_numpy(), row2.to_numpy())
        a2 = a1.transpose()
        IV = np.matmul(a1, df.to_numpy())
        IV = np.matmul(a2, IV)  
        np_row = np.append(np_row, IV)
    np_matrix = np.append(np_matrix, [np_row], axis=0)
    np_row = np.empty((0, 1000), int)

In [22]:
df3 = pd.DataFrame(np_matrix)
df3

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.000000,16.912773,21.210173,26.919404,7.455110,9.269031,20.969239,16.383533,22.150457,5.285451,...,15.018226,13.706407,25.320060,9.433669,19.364135,17.293181,6.689842,19.501726,11.747949,24.367817
1,16.912773,0.000000,6.631669,21.204594,6.967238,5.998906,5.651463,1.216036,7.976661,4.021558,...,4.904314,0.750670,9.287638,4.038985,4.975854,2.713388,7.606062,4.196378,5.723712,2.539948
2,21.210173,6.631669,0.000000,12.267630,11.734251,14.178796,8.325922,12.015847,21.999257,11.615962,...,19.555445,6.703717,7.921243,6.424250,11.587217,10.603863,15.674997,15.412665,8.457491,13.969440
3,26.919404,21.204594,12.267630,0.000000,18.315302,14.433729,9.629493,30.641506,36.021051,22.542441,...,28.885807,16.157186,21.143240,14.257332,14.905251,27.370117,15.312999,21.420381,16.321718,29.362956
4,7.455110,6.967238,11.734251,18.315302,0.000000,3.121208,13.481803,7.401902,6.611911,2.579668,...,6.426178,4.052612,10.052803,1.350319,4.281321,8.900973,4.452737,7.366718,0.924419,8.120620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,17.293181,2.713388,10.603863,27.370117,8.900973,8.915556,11.548299,3.544587,12.101997,6.607227,...,4.183355,3.082816,6.295312,4.830394,10.140512,0.000000,9.213119,3.809756,6.778590,5.401654
996,6.689842,7.606062,15.674997,15.312999,4.452737,0.630726,7.384184,9.079559,12.821496,3.295019,...,4.590445,4.326612,16.986119,4.452436,6.477956,9.213119,0.000000,5.201583,6.431793,11.462824
997,19.501726,4.196378,15.412665,21.420381,7.366718,3.815615,8.512564,5.585467,8.309402,7.371723,...,1.438306,2.496817,9.801874,5.165992,4.235943,3.809756,5.201583,0.000000,6.086931,3.823424
998,11.747949,5.723712,8.457491,16.321718,0.924419,4.566912,12.570945,7.362247,7.449468,4.580369,...,6.957111,3.139489,5.101259,0.562111,3.658917,6.778590,6.431793,6.086931,0.000000,6.692804
999,24.367817,2.539948,13.969440,29.362956,8.120620,8.019810,11.867234,2.105289,2.880347,7.387713,...,4.121809,3.079626,11.182158,6.966777,3.835153,5.401654,11.462824,3.823424,6.692804,0.000000

In [23]:
df3.to_csv('216168486-216442428-212298535â€”T5MA.csv')